body.error main, body.error h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1em;
}

body.error h1 > .number {
    font-size: 5em;
    line-height: 4em;
    color: var(--a1);
}

body.error p {
    text-align: center;
}