#menu {
    background-color: var(--a1);
    width: calc(var(--x) * 30);
    height: 100vh;
    position: relative;
    top: 0;
    left: calc(var(--x) * -30);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

#menu.open {
    transform: translateX(calc(var(--x) * 30));
}

#menu-tag {
    background-color: inherit;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: calc(var(--x) * 6);
    height: calc(var(--x) * 5);
    border-radius: 0 calc(var(--x) * 5) calc(var(--x) * 5) 0;
    transform: translateX(calc(var(--x) * 5));
    cursor: pointer;
}

#menu-tag > .h-bar {
    display: block;
    width: 40%;
    height: 5px;
    background-color: #fff;
    transition: all 1s ease-in-out;
}

#menu-tag > .h-bar:not(:last-of-type) {
    margin-bottom: 5px;
}

#menu.open #menu-tag > .h-bar {
    transform: rotate(45deg);
}

#menu.open #menu-tag > .h-bar:first-of-type {
    transform: rotate(-45deg) translateX(-22.5%) translateY(140%);
}

#menu.open #menu-tag > .h-bar:last-of-type {
    transform: rotate(-45deg) translateX(22.5%) translateY(-140%);
}

#menu > *:not(#menu-tag) {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#menu > a, #menu > a:hover, #menu > a:focus {
    height: 15vh;
    font-weight: 500;
    font-size: 2em;
    text-align: center;
    background: none;
    -webkit-text-fill-color: initial;
    color: inherit;
}

#menu > nav {
    max-height: 85vh;
    min-height: calc(40 * var(--x));
    padding-bottom: 4vh;
}

#menu .menu, #menu .menu:hover, #menu .menu:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: calc(var(--x) * 4);
    width: calc(70% - 2 * var(--x));
    padding: 0 var(--x);
    -webkit-text-fill-color: initial;
    background: none;
    background-color: #fff;
    color: var(--g0);
    border-radius: calc(var(--x) * 1);
    font-weight: 600;
    transition: all 0.3s ease-in;
}

#menu > a::before, #menu .menu::before {
    display: none;
}

#menu .menu:hover, #menu .menu:focus {
    min-height: calc(var(--x) * 5);
}